.Feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: inline-block;
  border: 1px solid #dbdbdb;
  margin-top: 22%;
  margin-bottom: -12%;

  .feed-header {
    width: 614px;
    height: 60px;
    padding: 16px;
    background-color: white;
    .feed-header-item {
      display: flex;
      align-items: center;
      padding-top: 8px;
      height: 17px;
      .feed-header-img1 {
        width: 37px;
        height: 37px;
        border-radius: 50px;
        padding: 2px;
        border: 1.9px solid #d82b7e;
      }
      span {
        margin-left: 16px;
        font-size: 14px;
        color: #262626;
      }
      .feed-header-img2 {
        position: absolute;
        width: 40px;
        right: 0;
        padding: 8px;
      }
    }
  }
  .feed-picture {
    width: 616px;
    height: 616px;
    background-image: url(../images/my.jpg);
    background-size: 100%;
  }
  .feed-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 8px;
    background-color: white;

    .feedIcon-left {
      display: flex;
      justify-content: space-around;
      width: 20%;
      img {
        width: 24px;
        height: 24px;
      }
    }

    .feedIcon-right {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .feed-bottom {
    width: 616px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px 5px;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;

    a {
      text-decoration: none;
      font-weight: 600;
      margin-right: 5px;

      .userId {
        font-size: 14px;
        font-weight: 600;
        color: #262626;
      }
    }

    .like-text {
      font-size: 14px;
    }

    .userInfo {
      font-size: 14px;
    }

    .userInfo span:last-child {
      color: #8e8e8e;
      font-size: 14px;
    }

    .commentList {
      ul {
        margin: 0;
        padding: 0;
      }
    }

    .feed-time {
      font-size: 10px;
      color: #8e8e8e;
    }
  }

  .chat-write {
    background-color: white;
    padding: 10px;

    .chatting {
      display: flex;
      justify-content: space-between;

      input {
        outline: none;
        font-size: inherit;
      }

      .chatBtn {
        border: 0;
        outline: 0;
        background-color: white;
        color: #0095f6;
      }
    }
  }
}
