/* 인스타그램 nav */
.Header {
  width: 100%;
  background-color: white;
  height: 77px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;

  .header-box {
    width: 100%;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Logo-option1 */
    .logo-option {
      margin: 0 auto;

      .header-logo {
        display: flex;

        .logo-img {
          width: 43px;
          border-right: 1px solid black;
          padding-right: 15px;
        }
        .logo-text {
          width: 100px;
          margin-left: 15px;
        }
      }
    }
    /* //Logo-option1 */
    /* Logo-option2 */
    .logo-option {
      margin: 0 auto;

      .header-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 215px;
        height: 28px;
        background-color: #fafafa;
        color: #8e8e8e;
        border: 1px solid #dbdbdb;
        padding: 4px 0;
        font-size: 14px;
        border-radius: 3px;

        .i {
          font-size: 10px;
          margin-right: 5px;
        }
      }

      .header-search:hover {
        cursor: text;
      }

      .header-searchNone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 215px;
        height: 28px;
        background-color: #fafafa;
        color: #8e8e8e;
        border: 1px solid #dbdbdb;
        padding: 4px;
        font-size: 14px;
        border-radius: 3px;
        color: #c7c7c7;

        .searchNone-firstItem {
          display: flex;
          align-items: center;
          padding-left: 10px;

          input {
            border-style: none;
            outline-style: none;
            font-size: 14px;
            background-color: #fafafa;
          }
        }
        .searchNone-endItem {
          display: flex;
          justify-content: end;

          i {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    /* //Logo-option2 */
    /* Logo-option3 */
    .logo-option {
      margin: 0 auto;

      .header-item {
        display: flex;
        justify-content: flex-end;

        img {
          width: 25px;
          margin-right: 25px;
        }
      }
    }
    /* //Logo-option3 */
  }
}
